body {font: 14px Arial; padding: 2rem; margin: 0; }
.color-picker,
color-picker { margin: 0.5rem 0 }

@media (min-width: 768px) {
  body {padding: 5rem}
  .color-picker,
  color-picker,
  p {
    margin: 0.5rem 0 7.5rem;
  }
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * .5);
  padding-left: calc(var(--gutter-x) * .5);
  margin-top: var(--gutter-y);
}

@media (min-width: 768px) {
  .col {
    flex: 1 0 0%;
  }
}

/* .copy {
  margin: 7.5rem 0 0.5rem;
} */